* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Tinos', serif;
}


/*debug*/


/*
.debug .header-bottom {
    height: 400px;
    background-color: darkblue;
}*/

/*
.debug .container {
    height: 60px;
}*/
/*
.debug .flex-cont_hd {
    background-color: yellowgreen;
}*/
/*
.debug .hb_box {
    background-color: purple;
}*/
/*
.debug .border {
    border: 1px dotted black;
}

.debug .flex-cont_main {
    height: 600px;
}*/
/*
.debug .photo-box_item {
    background-color: blue;
    
}

.debug .text-box_item {
    background-color: pink;
}


.debug .section_box {
    background-color: green;
}

.debug .flex-cont_f_top {
    height: 500px;
    background-color: brown;
}

.debug .little_footer_item {
    background-color: aquamarine;
    border: 1px dotted white;
}

.debug .big_footer_item {
    background-color: crimson;
}

.debug .flex-cont_f_bottom {
    background-color: greenyellow;
}

.debug .footer_button {
    background-color: rgb(214, 135, 148);
}
*/
/* HEADER css*/


.header-top, .header-bottom {
    padding: 30px;
    background-color: #255EE9;
}

.header-bottom {
    background-image: url(../img/jumbo.png);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.container {
    width: 70%;
    margin: auto;
}

.flex-cont_hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.header-top {
    height: 80px;
}
.logo {
    width: 20%;
    text-align: left;
    padding: 10px;
}

.logo img {
    height: 100%;
}

.login {
    width: 20%;
    text-align: right;
    padding: 10px;
}

#login {
    background-color: white;
    color: black;
}

.button {
    border-radius: 20px;
    padding: 10px;
    font-size: 13px;
    margin: 20px;
}


.menu {
    width: 60%;
    text-align: center;
    list-style-type: none;
    line-height: 100%;
    padding: 11px;
}

.menu li {
    display: inline;
    padding: 0px 10px;
    color: white;
}

.hb_box {
    width: 50%;
    margin: auto;
    color: white;
    text-align: center;
}

.hb_box h2 {
    font-size: 50px;
    padding: 30px;
}

.hb_box p {
    font-size: 20px;
    padding-bottom: 50px;
}

#mac_hd {
    background-color: white;
    color: black;
}

.mac::before {
    content: '\2193';
    font-size: 20px;
}

#browser {
    background-color: black;
    color: white;
}

/* MAIN css*/


section {
    padding: 30px;
}

.grey_section {
    background-color: grey;
}


.flex-cont_main {
    display: flex;
    
}

.photo-box_item {
    width: 60%;
    text-align: center;
}


.text-box_item {
    width: 40%;
}

.title {
    font-size: 38px;
    padding: 50px 100px 50px 100px;
    text-align: left;
}

.text {
    padding: 0 100px 0 100px;
    text-align: left;
}
.section_box {
    text-align: center;
}

#title-section {
    font-size: 38px;
    padding: 40px;
}

#text-section {
    padding: 38px 257px;
}

#question-section {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

#question-box {
    width: 400px;
    margin: 0 auto 20px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

#mac_main {
    background-color: #7289DA;
    color: white;
    margin-bottom: 50px;
    display: inline-block;
}




/*FOOTER css*/

footer {
    background-color: rgb(27, 26, 26);
    
}
.footer_top {
    padding: 30px;
    border-bottom: solid 2px white;
}

.flex-cont_f_top {
    display: flex;
    text-align: left;
}

.little_footer_item {
    width: 17.5%;
    padding: 20px;
}

.big_footer_item {
    width: 30%;
    padding: 20px;
}

.blue {
    color: #7289DA;
}

.white {
    color: white;
}

.ft_list li {
    padding: 15px;
    list-style-type: none;
}

.flex-cont_f_bottom {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.footer_bottom {
    padding: 30px;
}

.footer_button {
    padding: 10px;
}

#title_ft {
    color: #7289DA;
    font-size: 35px;
    padding-right: 20px;
    margin-bottom: 20px;
}

#language {
    color: white;
    margin-bottom: 10px;
}

#language:after {
    content: '\25BE';
}

#language img {
    height: 14px;
}

#social i{
    padding: 10px;
    color: white;
}

#register {
    background-color: #7289DA;
    color: white;
}