* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans', sans-serif;
}


.header-top, .header-bottom {
    padding: 30px;
    background-color: #23272A;
}

.header-bottom {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 50%;
}
.container {
    width: 70%;
    margin: auto;
}


.flex-cont_hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.header-top {
    height: 80px;
}
.logo {
    width: 20%;
    text-align: left;
    padding: 10px;
}

.logo img {
    height: 100%;
}

.login {
    width: 20%;
    text-align: right;
    padding: 10px;
}

#login {
    background-color: white;
    color: black;
}
#login:hover {
    background-color: #7289DA;
    color: white;
}

.button {
    border-radius: 20px;
    padding: 10px;
    font-size: 13px;
    margin: 20px;
}




.menu {
    width: 60%;
    text-align: center;
    list-style-type: none;
    line-height: 100%;
    padding: 11px;
}

.menu li {
    display: inline;
    padding: 0px 10px;
    color: white;
}

.hb_box {
    width: 70%;
    margin: 30px auto;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.sx_hd_box {
    width: 50%;
}

.dx_hd_box {
    width: 50%;
}

.hb_box h2 {
    font-size: 40px;
    
}

.hb_box p {
    font-size: 20px;
    padding: 20px;
}

#wind_hd {
    background-color: #6D78F4;
    color: white;
    font-size: 20px;
}
#wind_hd:hover {
    background-color: white;
    color: black;
}

.mac::before {
    content: '\2193';
    font-size: 20px;
}

#wind7 {
    background-color: black;
    color: white;
}
#wind7:hover {
    background-color: white;
    color: black;
}


/*main*/


.flex-container {
    width: 70%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}

.flex-item_main {
    width: calc(100% / 2 - 40px);
    background-color: #F6F6F6;
    border-radius: 30px;
    margin: 20px 20px;
    text-align: center;
    height: 600px;
}

.image {
    width: 80%;
    margin: auto;
    height: 400px;
    
    background-position: top;
    background-size: cover;
}

#ios {
    background-image: url(../img/ios.svg);
}

.name {
    font-size: 35px;
    margin: 30px;
}

.scarica {
    background-color: #2D3035;
    color: white;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
}

#android {
    background-image: url(../img/android.svg);
}

#linux {
    background-image: url(../img/linux.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

#mac {
    background-image: url(../img/mac.svg);
    background-repeat: no-repeat;
    background-size: contain;

}

.section_p {
    width: 50%;
    margin: 20px auto;
    text-align: center;
    background-color: #F6F6F6;
    border-radius: 30px;
    padding: 20px;
}





/*footer*/


footer {
    background-color: rgb(27, 26, 26);
    
}
.footer_top {
    padding: 30px;
    border-bottom: solid 2px white;
}

.flex-cont_f_top {
    display: flex;
    text-align: left;
}

.little_footer_item {
    width: 17.5%;
    padding: 20px;
}

.big_footer_item {
    width: 30%;
    padding: 20px;
}

.blue {
    color: #7289DA;
}

.white {
    color: white;
}

.ft_list li {
    padding: 15px;
    list-style-type: none;
}

.flex-cont_f_bottom {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.footer_bottom {
    padding: 30px;
}

.footer_button {
    padding: 10px;
}

#title_ft {
    color: #7289DA;
    font-size: 35px;
    padding-right: 20px;
    margin-bottom: 20px;
}

#language {
    color: white;
    margin-bottom: 10px;
}

#language:after {
    content: '\25BE';
}

#language img {
    height: 14px;
}

#social i{
    padding: 10px;
    color: white;
}

#register {
    background-color: #7289DA;
    color: white;
}
#register:hover {
    background-color: white;
    color: black;
}